header {
  height: 100%;
}

.display-1 {
  font-size: 40px;
}

.display-2 {
  font-size: 30px;
}

.card {
  float: none;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

form {
  padding-top: 50px;
  width: 90%;
}

/* Showcase */
#showcase {
  width: 90%;
  padding-top: 20px;
}

#showcase h1 {
  padding-bottom: 10px;
}

/* About */
#about {
  padding: 50px 0;
}

#about h2 {
  padding-bottom: 20px;
}

#about p {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Features */
#feature {
  padding: 20px 0;
}

#feature p{
    font-size: 30px;
}

/* Services */
#services {
  padding: 40px 0;
}

#services h2 {
  padding-bottom: 20px;
}

/* Contact */
#contact {
  padding: 60px 0;
}

/* Footer */
#mainfooter {
  padding: 20px;
}

#foto-pibardos{
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
}